
table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
  }
  
  th,
  td {
    padding: 8px;
    border: 1px solid #ddd;
  }

  #setrem{
    background-color:aqua;
    
    
  }